/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    max-width: unset;
    box-sizing: border-box;
}

ul, li  {
    margin: 0;
    padding: 0;
}

.container {
    /*padding: 0;*/
}

/*STYLES FOR EDIT SECTION IN SETTINGS*/
/*.flex-row-container {*/

/*    margin: 0.3em;*/
/*}*/

.flex-row-container div:nth-child(1) {

    flex-basis: 45%;
}

.flex-row-container div:nth-child(2) {
    flex-basis: 35%;
}

/*.flex-row-container div:nth-child(3) {*/
/*    flex-basis: 10%;*/
/*}*/

span {
    font-style: italic;
}

::placeholder {
    font-style: italic;
}

/*STYLES FOR GOING TO ANOTHER PAGE*/
.clickable-div {
    width: 240px;
    height: 135px;
    gap:1em;

}
.clickable-div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none
}