/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {

    max-width: unset;
    box-sizing: border-box;
}

body {
    background-color: #eee;

    scrollbar-gutter: stable both-edges;
}


ul, li {
    margin: 0;
    padding: 0;
}


td {
    vertical-align: middle;
}


.flex-row-container div:nth-child(1) {

    flex-basis: 45%;
}

.flex-row-container div:nth-child(2) {
    flex-basis: 35%;
}



span {
    font-style: italic;
}

::placeholder {
    font-style: italic;
}

/*STYLES FOR GOING TO ANOTHER PAGE*/
.clickable-div {
    width: 240px;
    height: 135px;
    gap: 1em;

}

.clickable-div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none
}

/*POPUPS*/
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    z-index: 2;
    text-align: center;
    padding: 50px 40px;
    height: 400px;
    min-width: 400px;
    box-sizing: border-box;
    overflow: auto;
}

.popup .content .popup-title {
    margin-bottom: 30px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
