<nav class="navbar navbar-expand-md navbar-dark bg-dark"
     sec:authorize="isAuthenticated()"
     th:fragment="menu" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">

        <button class="navbar-toggler"
                data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav  mb-2 mb-md-0">
                <li class="nav-item">
                    <a  class="nav-link "
                       sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')"
                       th:href="@{/users(orderBy=name,page=1)}">List users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/bank/settings}">Bank
                        settings</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link " sec:authorize="hasAnyRole('ROLE_USER','ROLE_MANAGER')"
                       th:href="@{/profile}">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/transfer}">Transfers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/deposit}">Deposits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/requests}">Funds requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/bank/manager/add}">Add manager</a>
                </li>
            </ul>
        </div>
    </div>
</nav>