<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: baseHead(~{::title}, ~{::link})">
    <title>Add manager</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body class="d-flex flex-column min-vh-100">


<div th:replace="fragments/header :: header">

</div>
<nav th:replace="fragments/nav :: menu">

</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Add manager</h3>
            <div class="rounded my-4  bg-white p-4">
                <form method="post" th:action="@{/bank/manager/add}" th:object="${userForm}">
                    <div class="form-floating mb-4">
                        <input class="form-control" th:field="*{fullName}"
                               type="text"/>
                        <label class="form-label">Full Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" th:field="*{birthDay}"
                               type="date"/>
                        <label class="form-label">Birthday</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" th:field="*{email}"
                               type="text"/>
                        <label class="form-label">Email</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" th:field="*{password}"
                               type="password"/>
                        <label class="form-label">Password</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" th:field="*{confirmPassword}"
                               type="password"/>
                        <label class="form-label">Confirm password</label>
                    </div>
                    <div class="text-danger">
                        <div  th:errors="*{fullName}" th:if="${#fields.hasErrors('fullName')}"></div>
                        <div th:errors="*{birthDay}" th:if="${#fields.hasErrors('birthDay')}"></div>
                        <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
                        <div th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
                        <div th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}"></div>
                    </div>
                    <div class="d-grid mt-3 ">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </div>
                </form>
                <p th:if="${param.registerSuccess}">Successfully registered manager in</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
<script th:src="@{/script.js}"></script>
</body>
