<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: baseHead(~{::title}, ~{::link})">
    <title>Transfers</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">


<div th:replace="fragments/header :: header">

</div>
<nav th:replace="fragments/nav :: menu"></nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Transfers</h1>
        </div>
    </div>
        <div class="d-flex flex-wrap  " style="gap:1rem;">
            <div class="clickable-div  rounded bg-white">
                <a class="text-reset p-2"
                   th:href="@{/transfer/make}">Make transfer</a>
            </div>
            <div class="clickable-div  rounded bg-white">
                <a class="text-reset p-2"
                   th:href="@{/transfer/history}">Transfer History</a>
            </div>
        </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>