<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: baseHead(~{::title}, ~{::link})">
    <title>Transfers</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">


<div th:replace="fragments/header :: header">

</div>
<nav th:replace="fragments/nav :: menu"></nav>

<div class="container  mb-3">
<h1 class=""> Transfers</h1>
        <div class="d-flex flex-wrap align-items-start " style="gap:1rem;">
            <div class="clickable-div border rounded">
                <a class="p-1"
                   th:href="@{~/transfer/make}">Make transfer</a>
            </div>
            <div class="clickable-div border rounded">
                <a class="p-1"
                   th:href="@{~/transfer/make}">Transfer History</a>
            </div>
            <div class="clickable-div border rounded">
                <a class="p-1"
                   th:href="@{~/transfer/make}">Link 3</a>
            </div>
        </div>



</div>


<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>