<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: baseHead(~{::title}, ~{::link})">
    <meta charset="UTF-8"/>
    <title>Transfer history</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body class="d-flex flex-column min-vh-100">


<div th:replace="fragments/header :: header">

</div>
<nav th:replace="fragments/nav :: menu">

</nav>
<div class="container">
    <div class="row">
        <div class="col-12 ">
            <h1 >Transfer history</h1>
            <div class="border rounded my-4  bg-white p-4">
                <form class="" method="get" th:object="${transferFormFilter}"
                      th:action="@{/transfer/history}">
                    <h3>Filters</h3>
                    <!--                    ---------AMOUNT FILTER------->
                    <div class="form-check ">
                        <input class="form-check-input filter-checkbox" th:field="*{amountFilter}" type="checkbox">
                        <label class="form-check-label">by amount</label>
                        <div class="row filter-input">
                            <div class="col-4 col-md-2 form-group">
                                <input type="number" class="form-control " th:field="*{fromAmount}"
                                       placeholder="Enter lower limit">
                            </div>
                            <div class="col-4 col-md-2 form-group">
                                <input type="number" class="form-control " th:field="*{toAmount}"
                                       placeholder="Enter upper limit">
                            </div>
                        </div>
                    </div>
                    <!--                    ---------NUMBER FILTER------->
                    <div class=" form-check">
                        <input class="form-check-input filter-checkbox" th:field="*{accountNumberFilter}" type="checkbox">
                        <label class="form-check-label">by account number</label>
                        <div class="row filter-input">
                            <div class="col-8 col-md-4 form-group">
                                <input type="text" class="form-control" th:field="*{accountNumber}"
                                       placeholder="Enter account number">
                            </div>
                        </div>
                    </div>
                    <!--                    ---------DATE  FILTER------->
                    <div class=" form-check">
                        <input class="form-check-input filter-checkbox" th:field="*{dateFilter}" type="checkbox" value="">
                        <label class="form-check-label">by date</label>
                        <div class="row filter-input">
                            <div class="col-4 col-md-2  form-group">
                                <input type="date" class="form-control" th:field="*{fromDate}"
                                       placeholder="Select from date">
                            </div>
                            <div class="col-4 col-md-2  form-group">
                                <input type="date" class="form-control" th:field="*{toDate}"
                                       placeholder="Select to date">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid mt-3 ">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="border rounded my-4 p-4  bg-white">
                <div  class="overflow-auto ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Transfer relation</th>
                                <th>Account</th>
                                <th>Amount</th>
                                <th>Received at</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transferRow : ${transferHistory}">
                                <td th:text="${transferRow.isSent()} ? 'Sent to' : 'Received from'"></td>
                                <td th:text="${transferRow.toAccount}"></td>
                                <td th:text="${transferRow.amount}"></td>
                                <td th:text="${transferRow.receiveAt}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
<script th:src="@{/script.js}"></script>
</body>
